
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding: 0px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
}

