
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

html {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif !important;
  height: 100%;
}

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding: 10px;
  margin-left: 175px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
}

.img-blue:hover {
    background: blue;
}

.name {
        font-size: 42px;
    font-weight: 900;
    margin-left: 50px;
}

.wrap {
  height: 100vh;
  display: flex;
}

main {
  flex: 1;
  display: flex;
}
 
aside, article {
  overflow-y: scroll;
  padding: 2em;
}
 
aside {
  flex: 1;
}
 
article {
  flex: 2;
}

.block {
    border: 3px solid blue;
    padding: 2px 2px 2px 2px;
    margin-top:2px;
}

.blocknumber{
    text-align: center;
    vertical-align: middle;
    
}

.txn {
    font-size: 12px;
}


